<app-navbar></app-navbar>

<div class="container">
    <div class="form">
        <div class="contact-info">
            <h3 class="title" style="font-family: cursive;">Let's get in touch</h3>
            <p class="text" style="font-family: cursive;"> Contact us with the following details. and fillup the form with the details. </p>
            <div class="info">
                <div class="social-information"> <i class="fa fa-map-marker"></i>
                    <p>NGP, MH, INDIA</p>
                </div>
                <div class="social-information"> <i class="fa fa-envelope-o"></i>
                    <p>contact_library@gmail.com</p>
                </div>
                <div class="social-information"> <i class="fa fa-mobile-phone"></i>
                    <p>+91 989 989 9898 </p>
                </div>
            </div>
            <div class="social-media">
                <p style="font-family: cursive;">Connect with us :</p>
                <div class="social-icons"> <a href="#"> <i class="fa fa-facebook-f"></i> </a> <a href="#"> <i class="fa fa-twitter"></i> </a> <a href="#"> <i class="fa fa-instagram"></i> </a> <a href="#"> <i class="fa fa-linkedin"></i> </a> </div>
            </div>
        </div>
        <div class="contact-info-form" > <span class="circle one"></span> <span class="circle two"></span>
            <form action="#" onclick="return false;" autocomplete="off">
                <h3 class="title" style="font-family: cursive;">Contact us</h3>
                <div class="social-input-containers" style="font-family: cursive;"> <input type="text" name="name" class="input" placeholder="Name" /> </div>
                <div class="social-input-containers" style="font-family: cursive;"> <input type="email" name="email" class="input" placeholder="Email" /> </div>
                <div class="social-input-containers" style="font-family: cursive;"> <input type="tel" name="phone" class="input" placeholder="Phone" /> </div>
                <div class="social-input-containers textarea" style="font-family: cursive;"> <textarea name="message" class="input" placeholder="Message"></textarea> </div> 
                <input type="submit" value="Send" class="btn" style="font-family: cursive;" />
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>