<app-navbar></app-navbar>

<div class="container">
    <img [src]= home1 class="home">
</div>
<br>

<div class="container" style="background-color: darkcyan; color: aliceblue;">
    <h1 style="text-align: center; font-family: cursive; font-size: 30px;">About Us</h1>
</div>

<div>
<h3 style="color: darkcyan;font-style: italic;">We inspire and enable independent minds, providing resources, spaces and technologies.</h3>
</div><br>
    <p class="container-fluid">
        Public Library is a mission-driven institution that is committed to the support of the teaching, research, service, and patient care activities at UNTHSC. While we will go to great lengths to serve our patrons, we recognize that the smooth functioning of the library rests in part on adherence to a well structured set of operating policies. Our policies are designed to facilitate service with a minimum of constraint and to foster an environment conducive to advanced study and research.
    </p>

    <p class="container-fluid">
    Public Library supports the education, research, patient care, and community service missions of the University of North Texas Health Science Center (UNTHSC) by meeting the information needs of faculty, students, staff, and the local health sciences community.  The library offers a full complement of services, including 24x7, worldwide access to scholarly bibliographic and clinical resources, borrowing privileges, use of individual and group study areas, photocopying and printing, document delivery/interlibrary loan, expert instruction in the use of information resources, and access to professionally trained librarians for reference and literature search assistance. 
   </p>


   

<app-footer></app-footer>